/* Added tags to ensure footer is sticky. */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* CSS added for styling options to get the game operating properly. */

.startPage {
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.optionPage {
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pixel {
  width: 25px;
  height: 25px;
  border: none;
  align-content: flex-start;
  background-color: white;
}

.board {
  width: 500px;
  height: 500px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.twoPlayerModeButton {
  border-radius: 250px;
  width: 50%;
  height: 50%;
  background-color: #e53935;
  font-size: 6em;
}

.startButton {
  border-radius: 250px;
  width: 100%;
  height: 50%;
  margins: none;
  background-color: #4caf50;
  font-size: 9em;
}

.tutorialButton {
  border-radius: 250px;
  width: 50%;
  height: 50%;
  background-color: #e53935;
  font-size: 6em;
}

.insideButton {
  margin: auto;
  line-height: 85%;
}

.player {
  background-color: #4caf50;
}

.enemy {
  background-color: #e53935;
}

.timer {
  margins: auto;
  font-size: 5em;
}

.wall {
  background-color: #000000;
}

.timeUpScreen {
  width: 500px;
  height: 500px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #bbdefb;
  font-size: 4em;
}

iframe {
  margins:auto;
}
